doctype html
html(lang="en")
    head
        meta(charset = "UTF-8")
        meta(
            name    = "viewport",
            content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        )
        title
            | CHANGE THIS
        
        //- CSS Libs
        link(
            rel  = "stylesheet",
            type = "text/css",
            href = "../node_modules/normalize.css/normalize.css"
        )
        
        //- Custom CSS
        link(
            rel  = "stylesheet",
            type = "text/css",
            href = "styles/stdtheme.css"
        )
        
        //- Custom JS
        script(src = "scripts/app.js")
    body
        h1 Hello, world!
